export SENTRY_LOG_LEVEL='WARNING'
export SENTRY_TRANSPORT='ThreadedRequestsHTTPTransport'
export SENTRY_URL='https://sentry-project-user@key:sentry.io/project_id'
export DB_URI='sqlite:///tmp/database.db'
export LOG_LEVEL='DEBUG'
export DEBUG=true
export SWAGGER=true
export CRYPTO_KDF_ITERATIONS=10
export CRYPTO_SALT='Cpkm5UC6JXuP3qq2lkyBuw=='
export CRYPTO_SECRET='Lynl3zU+GjAt4dnxulAnkewjJu0Y2iZnIf/bNZa4pvI='
